@import '../../styles/default.scss', '../../styles/typography.scss', '../../styles/spacing.scss';

.hero {
    padding-top: 48px;
    .hero-text-container {
        max-width: 562px;
        padding-top: 80px;
        p {
            margin-top: 16px;
        }
    }
    .default-btn {
        margin-top: 40px;
    }
    .img-container {
        position: relative;
        img {
            width: 100%;
            border-radius: 12px;
            position: relative;
            z-index: 3;
        }
    }
    .hero-cards {
        background: rgba(115, 103, 240, 0.12);
        height: 112px;
        margin-top: 80px;
    }
    .hero-card {
        .icon {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: $brand-color;
            margin-right: 18px;
        }
        p {
            max-width: 226px;
        }
        img {
            display: none;
        }
    }
}

@media(max-width: 991px) {
    .hero {
        padding-top: 64px;
        .hero-text-container {
            margin: 0px auto;
            text-align: center;
        }
        .default-btn {
            margin: 32px auto 80px auto;
        }
    }
}

@media(max-width: 768px) {
    .hero {
        .hero-title {
            font-size: 32px;
        }
        .img-container::before {
            height: 280px;
            width: 280px;
        }
        .hero-text-container {
            p {
                font-size: 16px;
            }
        }
    }
}