@import '../../styles/default.scss', '../../styles/typography.scss';

header {
    width: 100%;
    margin-top: 28px;
    .transparent-btn {
        border: 1px solid $brand-color;
        border-radius: 5px;
        width: 98px;
        margin-right: 16px;
        height: 38px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.4px;
        color: $brand-color;
        transition: 0.3s ease-in-out;
        &:hover {
            background-color: $brand-color;
            color: $white;
        }
    }
    img {
        height: 56px;
    }
}

@media(max-width: 991px) {
    header {
        img {
            height: 40px;
        }
    }
}